vsphere_server     = "vsphere.server.example.com"
vsphere_user       = "admin"
vsphere_password   = "password"
vsphere_datacenter = "dc1"
vsphere_cluster    = "cluster1"
vsphere_network    = "network1"

vm_prefix     = "dsheldon-rancher-node-"
vm_count      = "3"
vm_datastore  = "datastore01"
vm_cpucount   = "4"
vm_memory     = "4096"
vm_domainname = "nip.io"
vm_network    = "172.16.128."
vm_netmask    = "21"
vm_gateway    = "172.16.128.1"
vm_dns        = "172.16.128.1"
vm_template = "Ubuntu_2004_guestinfo"
resource_pool = "rancher"
template_location = "/dc1/vm/_ISOs/Ubuntu_2004"

lb_address    = "172.16.128.245"
lb_prefix     = "rancher-lb"
lb_datastore  = "datastore01"
lb_cpucount   = "1"
lb_memory     = "1024"
lb_domainname = "rancher.172.16.128.245.nip.io"
lb_netmask    = "24"
lb_gateway    = "172.16.128.1"
lb_dns        = "172.16.128.1"

certmanager_version = "0.15.0"
vm_ssh_key = ""
vm_ssh_user = "packerbuilt"
rancher_hostname    = "rancher.172.16.128.245.nip.io"
rancher_version     = "2.5.9"