vsphere_server     = "vsphere.server.local
vsphere_user       = "bob"
vsphere_password   = "password"
vsphere_datacenter = "DC"
vsphere_cluster    = "cluster1"
vsphere_network    = "Private_net"

vm_prefix     = "rancher-node-"
vm_count      = "3"
vm_datastore  = "dc_san"
vm_cpucount   = "4"
vm_memory     = "4096"
vm_domainname = "nip.io"
vm_network    = "172.X.X.X"
vm_netmask    = "21"
vm_gateway    = "172.X.X.X"
vm_dns        = "172.X.X.X"
vm_template = "Ubuntu_2004-DSheldon"
resource_pool = "bob"
template_location = "Ubuntu_2004-DSheldon-notools"

lb_address    = "172.X.X.X"
lb_prefix     = "rancher-lb"
utility_lb_prefix     = "utility-lb"
lb_datastore  = "dc_san"
lb_cpucount   = "1"
lb_memory     = "1024"
lb_domainname = "rancher.IP6.nip.io"
lb_netmask    = "24"
lb_gateway    = "172.X.X.X"
lb_dns        = "172.X.X.X"

certmanager_version = "1.6.1"
vm_ssh_key = ""
vm_ssh_user = "packerbuilt"
rancher_hostname    = "rancher.IP.nip.io"
rancher_version     = "2.6.3"

utility_lb_address = "172.X.X.X"
elastic_password = "admin"
rancher_password = "admin"
